@import "tailwindcss" source(none);

@source "../../../public/*.html";
@source "../../../app/helpers/**/*.rb";
@source "../../../app/javascript/**/*.js";
@source "../../../app/views/**/*";
@source "../../../app/components/**/*";

@plugin "daisyui" {
}

/* Optional for custom themes – Docs: https://daisyui.com/docs/themes/#how-to-add-a-new-custom-theme */
@plugin "daisyui/theme" {
  name: "decor-dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(44% 0.043 257.281);
  --color-base-200: oklch(27% 0.041 260.031);
  --color-base-300: oklch(20% 0.042 265.755);
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: oklch(41.703% 0.099 251.473);
  --color-primary-content: oklch(88.34% 0.019 251.473);
  --color-secondary: oklch(64.092% 0.027 229.389);
  --color-secondary-content: oklch(12.818% 0.005 229.389);
  --color-accent: oklch(67.271% 0.167 35.791);
  --color-accent-content: oklch(13.454% 0.033 35.791);
  --color-neutral: oklch(27.441% 0.013 253.041);
  --color-neutral-content: oklch(85.488% 0.002 253.041);
  --color-info: oklch(62.616% 0.143 240.033);
  --color-info-content: oklch(12.523% 0.028 240.033);
  --color-success: oklch(70.226% 0.094 156.596);
  --color-success-content: oklch(14.045% 0.018 156.596);
  --color-warning: oklch(77.482% 0.115 81.519);
  --color-warning-content: oklch(15.496% 0.023 81.519);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(93% 0.032 17.717);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "./daisyui-theme.js" {
  name: "decor-light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(97.788% 0.004 56.375);
  --color-base-200: oklch(93.982% 0.007 61.449);
  --color-base-300: oklch(91.586% 0.006 53.44);
  --color-base-content: oklch(23.574% 0.066 313.189);
  --color-primary: oklch(70% 0.165 254.624);
  --color-primary-content: oklch(28% 0.091 267.935);
  --color-secondary: oklch(89% 0.061 343.231);
  --color-secondary-content: oklch(45% 0.187 3.815);
  --color-accent: oklch(90% 0.076 70.697);
  --color-accent-content: oklch(47% 0.157 37.304);
  --color-neutral: oklch(27% 0.006 286.033);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@theme {
}

@custom-variant dark (&:where(.dark, .dark *));

.decor--tables--data-table-cell {
  td > a:not(.cell-row-link-overlay) {
    position: relative;
    z-index: 1;
  }
}


/* Scroll or inset shadow for element */
/* https://mileswilhelm.github.io/Adding-Inset-Shadows-to-Cue-Visitors-to-Scrollable-Elements/ */
/*
  <div class="inset-wrapper">
    <div class="inset-shadow-content not-at-right">
      <!-- whatever HTML you have inside -->
    </div>
  </div>
  .inset-wrapper {
    position: relative;
    overflow-x: hidden;
  }

  .inset-shadow-content {
    overflow-x: auto;
  }
 */

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.decor--tables--data-table {
  .inset-scroll-shadow {
    &-not-at-right:after,
    &-not-at-left:before {
      content: "";
      height: 100%;
      width: 30px;
      top: 0;
      position: absolute;
      opacity: 1;
      animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 0.2s;
    }

    &-not-at-right:after {
      right: 0;
      border-top: 1px solid;
      border-image: linear-gradient(
              to right,
              rgba(50, 50, 50, 0),
              rgba(50, 50, 50, 0.2)
      )
      1;
      background: linear-gradient(
              to right,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0, 0) 50%,
              rgba(0, 0, 0, 0.2) 100%
      );
    }

    &-not-at-left:before {
      left: 0;
      border-top: 1px solid;
      border-image: linear-gradient(
              to right,
              rgba(50, 50, 50, 0.2),
              rgba(50, 50, 50, 0)
      )
      1;
      background: linear-gradient(
              to right,
              rgba(0, 0, 0, 0.2) 0%,
              rgba(0, 0, 0, 0) 50%,
              rgba(0, 0, 0, 0) 100%
      );
    }
  }
}
