<%= render ::Decor::Daisy::Modals::ModalLayout.new(
      icon: "alert-triangle",
      color: :warning,
      title: "Are you sure?",
      description: "This action cannot be undone.",
      classes: "decor:opacity-100"
    ) do %>
  <div class="decor:flex decor:gap-4 decor:justify-end">
    <%= render ::Decor::Daisy::Button.new(label: "Cancel", style: :ghost) %>
    <%= render ::Decor::Daisy::Button.new(label: "Continue", color: :warning) %>
  </div>
<% end %>
