<%= render ::Decor::Forms::Form.new(model: model, url: "#", local: true) do |form_component| %>
  <div class="space-y-3">
    <%= form_component.builder.number_field :count,
                       label: "Count",
                       placeholder: "Enter a number",
                       required: true,
                       min: 0,
                       max: 999,
                       helper_text: "Enter a value between 0 and 999",
                       validation_messages: {
                         required: "This is the custom validation message for the required field.",
                       } %>
    <%= form_component.builder.submit %>
  </div>
<% end %>