<div class="space-y-4">
  <% [:filled, :outlined, :ghost].each do |style| %>
    <div>
      <%= render(::Decor::Forms::Select.new(
        name: "select_#{style}",
        label: "#{style.to_s.capitalize} style select",
        style: style,
        helper_text: "Style: #{style}",
        **::Decor::Forms::Select.map_options_for_select([
          { title: "Option 1", value: "1" },
          { title: "Option 2", value: "2", selected: true },
          { title: "Option 3", value: "3" }
        ])
      )) %>
    </div>
  <% end %>
</div>